
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form method="POST" action="/team">
      <strong>Input Team Information Here:</strong><br><br>
      Team Name: <input type="text" name="team[name]"><br>
      Team Motto: <input type="text" name="team[motto]"><br><br>
      
      <h1>Hero 1</h1><br>
      Hero' Name: <input id="member1_name" type="text" name="team[hero][][name]"><br>
      Hero's Power: <input id="member1_power" type="text" name="team[hero][][power]"><br>
      Hero's Biography: <input id="member1_bio" type="text" name="team[hero][][biography]"><br><br>

      <h1>Hero 2</h1><br>
      Hero' Name: <input id="member2_name" type="text" name="team[hero][][name]"><br>
      Hero's Power: <input id="member2_power" type="text" name="team[hero][][power]"><br>
      Hero's Biography: <input id="member2_bio" type="text" name="team[hero][][biography]"><br><br>

      <h1>Hero 3</h1><br>
      Hero' Name: <input id="member3_name" type="text" name="team[hero][][name]"><br>
      Hero's Power: <input id="member3_power" type="text" name="team[hero][][power]"><br>
      Hero's Biography: <input id="member3_bio" type="text" name="team[hero][][biography]"><br><br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
